button{

    border: 1px solid black;
    background-color: lightpink;
    margin: 5px;
}

.historySection {
    height: 300px;
    border: 1px solid green;
    width: 300px;
    margin: auto;
    overflow-y: scroll;
}

.history{
    padding: 20px;
}