input{
    height: 35px;
    width: 35px;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
}

.inputPlace {
    display: flex;
}

button {
    border-radius: 50px;
    background-color: purple;
    color: white;
    margin-top: 20px;
}