input {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}

button {
  background-color: purple;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}