.faq-component {
    width: 400px;
    text-align: left;
    padding: 10px;
}

span.arrow {
    float: right;
    cursor: pointer;
}

.faq-indiv {
    border: 1px solid grey;
    margin-top: 10px;
    max-height: 50px;
    background: aliceblue;
    padding: 10px;
}